<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XKYModule Name="module_1" Version="1">

    <ModulePartitions>
        <Partition Identifier="0" Name="partition_0" Cores="1" Configuration="partition_0/partition.xml" >
            <Permissions>SET_SCHEDULE</Permissions>
        </Partition>
        <Partition Identifier="1" Name="partition_1" Cores="1" Configuration="partition_1/partition.xml" />
        <Partition Identifier="2" Name="partition_2" Cores="1" Configuration="partition_2/partition.xml" />
    </ModulePartitions>
    
    <ModuleSchedules>
        <Schedule Identifier="0" Name="schedule_0" MajorFrame="2" Initial="true">
            <PartitionSchedule PartitionIdentifier="0">
                <Window Offset="0" Duration="1" PeriodStart="true" />
            </PartitionSchedule>
            <PartitionSchedule PartitionIdentifier="1">
                <Window Offset="1" Duration="1" />
            </PartitionSchedule>
        </Schedule>
        <Schedule Identifier="1" Name="schedule_1" MajorFrame="3" Initial="true">
            <PartitionSchedule PartitionIdentifier="0">
                <Window Offset="0" Duration="1" PeriodStart="true" />
            </PartitionSchedule>
            <PartitionSchedule PartitionIdentifier="1">
                <Window Offset="1" Duration="1" />
            </PartitionSchedule>
            <PartitionSchedule PartitionIdentifier="2">
                <Window Offset="2" Duration="1" />
            </PartitionSchedule>
        </Schedule>
    </ModuleSchedules>
</XKYModule>
