<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XKYModule Name="module_8" Version="1">

    <ModulePartitions>
        <Partition Identifier="0" Name="partition_0" Cores="1" Configuration="partition_0/partition.xml" />
        <Partition Identifier="1" Name="partition_1" Cores="1" Configuration="partition_1/partition.xml" />
        <Partition Identifier="2" Name="partition_2" Cores="1" Configuration="partition_2/partition.xml" />
        <Partition Identifier="3" Name="partition_3" Cores="1" Configuration="partition_3/partition.xml" />
    </ModulePartitions>

    <ModuleSchedules>
        <Schedule Identifier="1" Name="schedule_1" MajorFrame="6">
            <PartitionSchedule PartitionIdentifier="0">
                <Window Offset="0" Duration="1" PeriodStart="true" />
            </PartitionSchedule>
            <PartitionSchedule PartitionIdentifier="1">
                <Window Offset="1" Duration="1" PeriodStart="true" />
            </PartitionSchedule>
            <PartitionSchedule PartitionIdentifier="2">
                <Window Offset="2" Duration="1" PeriodStart="true" />
            </PartitionSchedule>
            <PartitionSchedule PartitionIdentifier="3">
                <Window Offset="3" Duration="1" PeriodStart="true" />
            </PartitionSchedule>
        </Schedule>
    </ModuleSchedules>

    <ModuleChannels>
        <!-- Add channel here -->
    </ModuleChannels>

</XKYModule>
